<!-- Navegación principal del sitio -->
<nav>
    <!-- Lista de elementos de la navegación -->
    <ul>
        <!-- Título o nombre del sitio -->
        <li><strong>FOTOTECA</strong></li>
    </ul>
    <ul>
        <!-- Enlace para mostrar imágenes -->
        <li><a href="/">Mostrar Imágenes</a></li>
        <!-- Enlace para añadir una nueva imagen -->
        <li><a href="/add-image-form">Añadir Imagen</a></li>
    </ul>
    <ul >
        <form class="search-form" action="/search" method="get">
            <input type="text" name="keyword" id="keyword" placeholder="Buscar...">
            <input type="submit" value="Buscar">
        </form>
    </ul>
</nav>
